DB_IDENTIFIER=WebDataManagementOrders
PGPORT=5432
PGDATABASE=DBOrders
PGUSER="master"
PGPASSWORD="master-pwd"
TABLE_NAME=Orders
TABLE_NAME2=OrderRow
DBINSTANCE_CLASS="db.t2.micro"

CREATE_TABLE="
    CREATE TABLE IF NOT EXISTS $TABLE_NAME(
      order_id VARCHAR (50) PRIMARY KEY,
      user_id VARCHAR (50) NOT NULL,
      total_price INTEGER DEFAULT 0
    );
    CREATE TABLE IF NOT EXISTS $TABLE_NAME2(
      order_id VARCHAR (50) NOT NULL,
      item_id VARCHAR (50) NOT NULL,
      quantity INTEGER DEFAULT 0,
      PRIMARY KEY(order_id, item_id),
      FOREIGN KEY (order_id) REFERENCES $TABLE_NAME(order_id) ON DELETE CASCADE
    );"
