DB_IDENTIFIER=WebDataManagementOrders
PGPORT=5432
PGDATABASE=DBOrders
PGUSER="master"
PGPASSWORD="master-pwd"
TABLE_NAME=Orders
TABLE_NAME2=OrderRow
DBINSTANCE_CLASS="db.t2.micro"

CREATE_TABLE="
    CREATE TABLE IF NOT EXISTS $TABLE_NAME(
      Order_ID VARCHAR (50) PRIMARY KEY,
      User_ID VARCHAR (50) NOT NULL,
      total_price INTEGER DEFAULT 0
    );
    CREATE TABLE IF NOT EXISTS $TABLE_NAME2(
      Order_ID VARCHAR (50) NOT NULL,
      Item_ID VARCHAR (50) NOT NULL,
      quantity INTEGER DEFAULT 0,
      PRIMARY KEY(Order_ID, Item_ID),
      FOREIGN KEY (Order_ID) REFERENCES $TABLE_NAME(Order_ID) ON DELETE CASCADE
    );"